.container-world-statistics-cases {
  div {
    padding: 20px 0;
    h5 {
      font-weight: 100;
    }
    .critical-number {
      color: #ffb732;
    }
  }
}

.container-world-statistics-deaths {
  div {
    padding: 15px 0;
    h5 {
      font-weight: 100;
    }
    .deaths-number {
      color: #8b0000;
    }
    .new-deaths-number {
      color: #ad4c4c;
    }
  }
}

.container-world-recovered {
  div {
    padding: 15px 0;
    h5 {
      font-weight: 100;
    }
    .recovered-number {
      color: #329932;
    }
  }
}
